{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container pt-5 pr-5">
    <div class="row">
        <div class="col-6">
            <div class="fw-bold fs-3">معلومات الحساب</div>
            <div class="fs-5">اسم الحساب: {{profile_user.username}}</div>
            <div class="fs-5">نوع الحساب: {{profile_user.type}}</div>
            <div class="fs-5">البريد الالكتروني: {{profile_user.email}}</div>
            <div class="fs-5">رقم التليفون: {{profile_user.phone_number}}</div>
            <div class="fs-5">تاريخ التسجيل: {{profile_user.start_date|date:"M d, Y"}}</div>
        </div>
        <div class="col-6">
            <div class="fw-bold fs-3 pt-5">الفواتير</div>
            <div class="fs-5">الفاتورة الحالية: {{profile_user.billing}} دولار</div>
            <div class="fs-5">تاريخ التجديد:
                {% for payment in payment_user_one %}
                {{payment.start_billing}}
                {% endfor %}
            </div>
            <div class="fs-5 pb-5">تاريخ الانتهاء:
                {% for payment in payment_user_one %}
                {{payment.end_billing}}
                {% endfor %}
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="table-dark">
        <th scope="col">تاريخ التجديد</th>
        <th scope="col">تاريخ الانتهاء</th>
        <th scope="col">المبلغ</th>
        </thead>
        <tbody>

        {% for payment in payment_user %}
        <tr>
            <td>{{payment.start_billing}}</td>
            <td>{{payment.end_billing}}</td>
            <td>{{payment.ammount}} دولار</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>


</div>

{% endblock %}