{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% if messages %}
<style>
.alert1 {

  left: 0px;


  position: fixed;
  top:0;

  z-index:100;
}

    /* The alert message box */
.alert {

  left: 0px;


  position: fixed;
  top:0;

  z-index:100;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  margin-top: -2px;
  color: red;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>
{% for message in messages %}

<div class="alert alert-success">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <i class="far fa-check-circle"></i> {{message}}
</div>


{% endfor %}
{% endif %}


<div class="container pt-5 pr-5">



    <form method="post">
        {% csrf_token %}
        {{payment_form | crispy}}
        <div class="text-center pt-3">
            <button type="submit" class="btn btn-dark"><i class="fab fa-bitcoin"></i>
                اضافة فاتورة</button>
        </div>

    </form>
</div>


{% endblock %}