{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,

	axisX: {
		interval: 1,
		intervalType: "month",
		valueFormatString: "MMM"
	},
	axisY:{
		title: "السعر بالجنية",
		includeZero: true,
		valueFormatString: "EGP #0"
	},
	data: [{
		type: "line",
		markerSize: 12,
		xValueFormatString: "MMM, YYYY",
		yValueFormatString: "EGP ###.#",
		dataPoints: [
			{ x: new Date({{current_year}}, 00, 1), y: {{mon_1}},},
			{ x: new Date({{current_year}}, 01, 1), y: {{mon_2}},},
			{ x: new Date({{current_year}}, 02, 1) , y: {{mon_3}},},
			{ x: new Date({{current_year}}, 03, 1) , y: {{mon_4}},},
			{ x: new Date({{current_year}}, 04, 1) , y: {{mon_5}},},
			{ x: new Date({{current_year}}, 05, 1) , y: {{mon_6}},},
			{ x: new Date({{current_year}}, 06, 1) , y: {{mon_7}},},
			{ x: new Date({{current_year}}, 07, 1) , y: {{mon_8}},},
			{ x: new Date({{current_year}}, 08, 1) , y: {{mon_9}},},
			{ x: new Date({{current_year}}, 09, 1) , y: {{mon_10}},},
			{ x: new Date({{current_year}}, 10, 1) , y: {{mon_11}},},
			{ x: new Date({{current_year}}, 11, 1) , y: {{mon_12}},}
		]
	}]
});
chart.render();

}



</script>





<div class="container pt-5 pr-5">
    <div class="row">
        <div class="col-6">
            <div class="card text-white mb-3" style="background-color:#212529">
                <div class="card-header text-center">مبيعات السنة</div>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span data-purecounter-start="0" data-purecounter-end="{{payment_year}}" data-purecounter-duration="1"
                          class="purecounter"></span> فواتير <br>
                        <span data-purecounter-start="0" data-purecounter-end="{{year_pay}}" data-purecounter-duration="1"
                          class="purecounter"></span> جنيه
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-danger mb-3" style="background-color:#212529">
                <div class="card-header text-center">اجمالي المبيعات</div>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span data-purecounter-start="0" data-purecounter-end="{{payment_all}}" data-purecounter-duration="1"
                          class="purecounter"></span> فواتير <br>
                        <span data-purecounter-start="0" data-purecounter-end="{{total_pay}}" data-purecounter-duration="1"
                          class="purecounter"></span> جنيه
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-3">
            <div class="card text-white mb-3" style="background-color:#212529; margin-top:35px">
                <div class="card-header text-center">مبيعات اليوم</div>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span data-purecounter-start="0" data-purecounter-end="{{payment_day}}" data-purecounter-duration="1"
                          class="purecounter"></span> فواتير <br>
                        <span data-purecounter-start="0" data-purecounter-end="{{day_pay}}" data-purecounter-duration="1"
                          class="purecounter"></span> جنيه
                    </h5>
                </div>
            </div>
            <div class="card text-white mb-3" style="background-color:#212529;">
                <div class="card-header text-center">مبيعات الشهر</div>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span data-purecounter-start="0" data-purecounter-end="{{payment_month}}" data-purecounter-duration="1"
                          class="purecounter"></span> فواتير <br>
                        <span data-purecounter-start="0" data-purecounter-end="{{month_pay}}" data-purecounter-duration="1"
                          class="purecounter"></span> جنيه
                    </h5>
                </div>
            </div>
        </div>
<div class="col-9">
        <div class="text-center fw-bold fs-6">احصائيات مبيعات سنة - {{current_year}}</div>
        <div id="chartContainer" style="height: 300px; width: 100%; border: 1px solid #212529;"></div>
    </div>

    </div>

<hr>
    {% if end_days %}
<div class="alert alert-danger" role="alert">
    <div class="fw-bold fs-6 text-center" style="display: flex;">
         <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dVJMow.json" background="transparent" speed="1" style="height: 50px;width:50px" loop autoplay></lottie-player>
 <span style="margin-top:12px; margin-right:5px">باقي {{end_days}} يوم علي دفع فاتورة الحساب لتجديد الاشتراك ...</span>
            </div>

</div>
{% endif %}
    <div class="row mt-2">
        <div class="col-6">
            <div class="fw-bold fs-3 text-center" style="display: flex;">
         <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_tubq79fg.json" background="transparent" speed="1" style="height: 60px;width:60px" loop autoplay></lottie-player>
<span style="margin-top:10px">معلومات الحساب</span>
            </div>
            <div style="padding-right:60px;">
                <div class="fs-5">اسم الحساب: {{profile_user.username}}</div>
            <div class="fs-5">نوع الحساب: {{profile_user.type}}</div>
            <div class="fs-5">البريد الالكتروني: {{profile_user.email}}</div>
            <div class="fs-5">رقم التليفون: {{profile_user.phone_number}}</div>
            <div class="fs-5">تاريخ التسجيل: {{profile_user.start_date|date:"M d, Y"}}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="fw-bold fs-3 text-center" style="display: flex;">
         <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_oNHjED.json" background="transparent" speed="1" style="height: 60px;width:60px" loop autoplay></lottie-player>
<span style="margin-top:10px">فواتير الحساب</span>
            </div>
            <div style="padding-right:60px;">
            <div class="fs-5">الفاتورة الحالية: {{profile_user.billing}} دولار</div>
            <div class="fs-5">تاريخ التجديد:
                {% for payment in payment_user_one %}
                {{payment.start_billing}}
                {% endfor %}
            </div>
            <div class="fs-5 pb-5">تاريخ الانتهاء:
                {% for payment in payment_user_one %}
                {{payment.end_billing}}
                {% endfor %}
            </div>
            </div>
        </div>
    </div>


    <table class="table mt-3">
        <thead class="table-dark">
        <th scope="col">تاريخ التجديد</th>
        <th scope="col">تاريخ الانتهاء</th>
        <th scope="col">المبلغ</th>
        </thead>
        <tbody>

        {% for payment in payment_user %}
        <tr>
            <td>{{payment.start_billing}}</td>
            <td>{{payment.end_billing}}</td>
            <td>{{payment.ammount}} دولار</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</div>


{% endblock %}