{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container pt-5 pr-5">

    <style>
    /* The alert message box */
.alert {

  left: 0px;


  position: fixed;
  top:0;

  z-index:100;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  margin-top: -2px;
  color: red;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

    </style>

{% for med in medicines %}
    <div class="alert alert-success" id="welcomeDiv" style="display:none;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <i class="far fa-check-circle"></i> تم اضافة {{med.name}} الي الفاتورة ...
    </div>
{% endfor %}




    <div class="row">
        <div class="col-7">
            <div class="fw-bold fs-3 pb-1" style="display: flex;">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_8a7ltayr.json" background="transparent" speed="1" style="height: 40px;width:40px" loop autoplay></lottie-player>
<span style="margin-top:5px">الأدوية | </span>

                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/new_medicine/" type="button"
                   class="btn btn-dark" style="margin-bottom:20px;margin-top:7px">
                    <i class="fas fa-folder-plus"></i> اضف دواء </a>
            </div>
        </div>
        <div class="col-5">
            <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/new_payment/" type="button"
               class="btn btn-dark">
                <i class="fab fa-bitcoin"></i> تسجيل فاتورة </a>


            <button id="cart_function" type="button" class="btn btn-success" data-bs-html="true"
                    data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                    data-bs-content="Bottom popover"><i class="fas fa-shopping-cart"></i>
                العربة (0)
            </button>

            <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/" type="button"
               class="btn btn-danger"
               onclick="window.localStorage.clear();"><i class="fas fa-ban"></i>
                تفريغ العربة
            </a>

        </div>
    </div>


    {% if medicines %}

    <table class="table">
        <thead class="table-dark">
        <th scope="col">اضف</th>
        <th scope="col">الدواء</th>
        <th scope="col">الفئة</th>
        <th scope="col">السعر</th>
        <th scope="col">الكمية</th>
        <th scope="col">ملاحظات</th>
        <th scope="col">بداية الصلاحية</th>
        <th scope="col">نهاية الصلاحية</th>
        <th scope="col">تعديل</th>
        <th scope="col">حذف</th>
        </thead>
        <tbody>

        {% for med in medicines %}
        <tr>

            <td>
                <button id="{{med.id}}" class="btn atc btn-warning" onclick="showDiv()"><i
                        class="fas fa-cart-plus fa-sm"></i></button>
            </td>
            <td>
                <div class="fw-bold fs-4">{{med.name}}</div>
            </td>
            <td>
                <div class="fw-bold fs-4">{{med.category}}</div>
            </td>
            <td>
                <div class="fw-bold fs-4">{{med.price}}</div>
            </td>


            <td>
                <div class="fw-bold fs-4">{{med.quantity}}</div>
            </td>
            <td>

                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-notes-medical fa-sm"></i>
                </button>


                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">ملاحظات</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{med.notes}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إغلاق
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
            <td>
                <div class="fw-bold fs-4">{{med.start_date}}</div>
            </td>
            <td>
                <div class="fw-bold fs-4">{{med.end_date}}</div>
            </td>


            <td>
                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/update_medicine/{{med.id}}/"
                   type="button" class="btn btn-dark">
                    <i class="far fa-edit fa-sm"></i>
                </a>
            </td>


            <td>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-eraser fa-sm"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">حذف</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                هل أنت متأكد من حذف الدواء من قاعدة البيانات ؟
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لا</button>
                                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/delete_medicine/{{med.id}}/"
                                   type="button" class="btn btn-danger">نعم (حذف)</a>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>


    <div class="text-center">
        <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/new_payment/" type="button"
           class="btn btn-dark">
            <i class="fab fa-bitcoin"></i> تسجيل فاتورة </a>

        <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/" type="button"
           class="btn btn-danger"
           onclick="window.localStorage.clear();"><i class="fas fa-ban"></i>
            تفريغ العربة
        </a>
    </div>

    {% endif %}


    <form class="card card-sm">
        <div class="card-body row no-gytters align-items-center">
            <div class="col">
                <input type="search" name="item_name" placeholder="ابحث باسم الدواء"
                       class="form-control form-control-borderless" id="tags">
                <script>
                    $(function () {
                        var availableTags = [
                            {% for med in medicine_all %}"{{med.name}}", {% endfor %}
                                ];
                    $("#tags").autocomplete({
                        source: availableTags,
                        select: function (event, ui) {
                            $("#tags").val(ui.item.label);
                            $("#tags").val(ui.item.value);
                            this.form.submit();
                        }
                    });

                            } );
                </script>
            </div>

        </div>
    </form>


    <table class="table">
        <thead class="table-dark">
        <th scope="col">#</th>
        <th scope="col">الدواء</th>
        <th scope="col">الفئة</th>
        <th scope="col">السعر</th>
        <th scope="col">الكمية</th>
        <th scope="col">بداية الصلاحية</th>
        <th scope="col">نهاية الصلاحية</th>
        <th scope="col">تعديل</th>
        </thead>
        <tbody>

        {% for med in medicine %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <div id="nm{{med.id}}">{{med.name}}</div>
            </td>
            <td>{{med.category}}</td>
            <td>
                <div id="price{{med.id}}">{{med.price}}</div>
            </td>
            <td>{{med.quantity}}</td>
            <td>{{med.start_date}}</td>
            <td>{{med.end_date}}</td>
            <td>
                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/medicine/update_medicine/{{med.id}}/"
                   type="button" class="btn btn-dark btn-sm">
                    <i class="far fa-edit fa-sm"></i>
                </a>
            </td>

        </tr>

        {% endfor %}

        </tbody>
    </table>


</div>

<div class="container pt-2 pb-3 text-right">

    <nav aria-label="...">
        <ul class="pagination">

            <li class="page-item">
                {% if medicine.has_previous %}
                <a class="page-link" href="?page={{medicine.previous_page_number}}" tabindex="-1" aria-disabled="true">الصفحة
                    السابقة</a>
                {% else %}
                <a class="page-link disabled" tabindex="-1" aria-disabled="true">الصفحة السابقة</a>
                {% endif %}
            </li>


            {% for n in medicine.paginator.page_range %}
            {% if medicine.number == n %}
            <li class="page-item active">
                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
            </li>
            {% elif n > medicine.number|add:'-3' and n < medicine.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}


            <li class="page-item">
                {% if medicine.has_next %}
                <a class="page-link" href="?page={{medicine.next_page_number}}">الصفحة التالية</a>
                {% else %}
                <a class="page-link disabled" href="#">الصفحة التالية</a>
                {% endif %}
            </li>


        </ul>
    </nav>

</div>


<script type="text/javascript">




    if (localStorage.getItem('cart') == null) {
        var cart = {};

    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'))
    }

    $(document).on('click', '.atc', function () {
        console.log('the button was clicked');

        var item_id = this.id.toString();
        console.log(item_id);

        if (cart[item_id] != undefined) {
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById('price' + item_id).innerHTML);
        }
        else {
            quantity = 1;
            price = parseFloat(document.getElementById('price' + item_id).innerHTML);
            name = document.getElementById('nm' + item_id).innerHTML;
            cart[item_id] = [quantity, name, price];
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart))

        total = 0;
        for (item in cart) {

            let quantity = cart[item][0];

            total = total + cart[item][0];


        }
        console.log(total);


        document.getElementById('cart_function').innerHTML = "العربة (" + total + ")";



    });


        $(document).on('click', '.atc1', function () {
        console.log('the button was clicked 1');

        var item_id = this.id.toString();
        console.log(item_id);

        if (cart[item_id] != undefined) {
            quantity = cart[item_id][0] -1;
            cart[item_id][0] = quantity;

        }

        else {
            quantity = 1;
            cart[item_id] = [quantity];
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart))

        total = 0;
        for (item in cart) {

            let quantity = cart[item][0];

            total = total + cart[item][0];


        }
        console.log(total);


        document.getElementById('cart_function').innerHTML = "العربة (" + total + ")";



    });


    //display cart function
    displayCart(cart);
    function displayCart(cart) {    //cart is perameter actually

        var cartString = "";

        for (var x in cart) {

            cartString += "الدواء: " + document.getElementById("nm" + x).innerHTML + " - " + "الكمية:" + cart[x][0] + "</br>";


        }



        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        document.getElementById("cart_function").setAttribute("data-bs-content", cartString);
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        });


    }


    total = 0;
    for (item in cart) {

        let quantity = cart[item][0];

        total = total + cart[item][0];


    }
    console.log(total);
    document.getElementById('cart_function').innerHTML = "العربة (" + total + ")";





        function showDiv() {
           document.getElementById('welcomeDiv').style.display = "block";
           setTimeout(function() {
    $('#welcomeDiv').fadeOut('fast');
}, 3000);
        }


</script>
{% endblock %}