{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container pt-5 pr-5">
    <div class="fw-bold fs-3 pb-1" style="display: flex;">
                <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_het70khx.json" background="transparent" speed="1" style="height: 50px;width:50px" loop autoplay></lottie-player>
<span style="margin-top:5px">الفواتير | </span>
<a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/payment/add_payment/"
                   type="button" class="btn btn-dark mb-3" style="margin-bottom:20px;margin-top:7px"><i class="fab fa-bitcoin"></i>
                    كتابة فاتورة جديدة
                </a>
    </div>
    <table class="table">
        <thead class="table-dark">
        <th scope="col">
            بيانات الفاتورة
        </th>
        <th scope="col">
            تاريخ الفاتورة
        </th>
        <th scope="col">
            اجمالي الفاتورة
        </th>
        <th scope="col">
            تعديل
        </th>
        </thead>
        <tbody>
        {% for payment in payments %}
        <tr>
            <td>
                {{payment.data}}
            </td>
            <td>
                {{payment.date}}
            </td>
            <td>
                {{payment.total}}
            </td>
            <td>
                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/payment/update_payment/{{payment.id}}/"
                   type="button" class="btn btn-dark btn-sm">
                    <i class="far fa-edit fa-sm"></i>
                </a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}