{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<div class="container pt-5 pr-5">
    <form method="post">
        {% csrf_token %}
        {{category_form | crispy}}
        <div class="text-center pt-3">
            <button type="submit" class="btn btn-dark"><i class="far fa-edit fa-sm"></i> تعديل الفئة</button>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-eraser fa-sm"></i> حذف الفئة
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">حذف</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            هل أنت متأكد من حذف الفئة من قاعدة البيانات ؟<br>
                            [*] لن يتم حذف الأدوية الموجودة في هذه الفئة و ستظل موجودة بدون فئة ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لا</button>
                            <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/category/delete_category/{{category.id}}/"
                               type="button" class="btn btn-danger">نعم (حذف)</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </form>
</div>


{% endblock %}