{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% if messages %}
<style>
.alert1 {

  left: 0px;


  position: fixed;
  top:0;

  z-index:100;
}

    /* The alert message box */
.alert {

  left: 0px;


  position: fixed;
  top:0;

  z-index:100;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  margin-top: -2px;
  color: red;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>
{% for message in messages %}

<div class="alert alert-success">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <i class="far fa-check-circle"></i> {{message}}
</div>


{% endfor %}
{% endif %}


<div class="container pt-5 pr-5">

    <form method="post">
        {% csrf_token %}
        {{payment_form | crispy}}
        <div class="text-center pt-3">
            <button type="submit" class="btn btn-dark"><i class="far fa-edit fa-sm"></i>
                تعديل فاتورة</button>






            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-eraser fa-sm"></i> حذف الفاتورة
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">حذف</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                هل أنت متأكد من حذف الفاتورة من قاعدة البيانات ؟
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لا</button>
                                <a href="http://127.0.0.1:8000/pharmacy/{{profile_user.username}}/payment/delete_payment/{{payment_id}}/"
                                   type="button" class="btn btn-danger">نعم (حذف)</a>
                            </div>
                        </div>
                    </div>
                </div>




        </div>






    </form>
</div>


{% endblock %}